[main]
# how many items to send at one iteration. This is max how many tweets we will send at one time
# The idea is that we will pick up the other posts on next iteration
#num_process_at_one_time = 15

[netflix]
# required
url=https://medium.com/feed/netflix-techblog
# optional field indicating how many last, unpublished posts to publish
# Default: all
numPosts=5

[linkedin]
# required
url=https://linkedin.com/blog
# optional field indicating how many last, unpublished posts to publish
# Default: all
numPosts=1